@mixin flex(
  $align-items: center,
  $justify-contet: space-between,
  $direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-contet;
  flex-direction: $direction;
}

@mixin overlay {
  background-color: rgba($color: #000, $alpha: 0.6);
}

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
